{% load static %}


<html class="no-js" lang="en">
<head>
 {% include 'admin/top.html' %}
</head>
<body>
 {% include 'admin/sidebars.html' %}
    <!-- preloader area start -->
{% if messages %}
  {% for message in messages %}
    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<!-- Your existing form rendering code here -->


                            <div class="card-body">
                                <div class="data-tables datatable-dark">
                                    <center><a href="{% url 'myadmin:add_admin' %}" class="btn btn-sm btn-info">Add New Administrator</a></center>
                                    <table id="dataTable3" class="table table-striped table-hover text-center">
                                        <thead class="text-capitalize">
                                            <tr>
                                                <th>#</th>
                                                <th>Username</th>
                                                <th>Name</th>
                                                <th>Email ID</th>
                                                <th>Account Created On</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for admin in admins %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ admin.username }}</td>
                                                <td>{{ admin.fullname }}</td>
                                                <td>{{ admin.email }}</td>
                                                <td>{{ admin.CreationDate }}</td>
                                                <td>
                                                    <a href="{% url 'myadmin:manage_admin' %}?del={{ admin.id }}" onclick="return confirm('Do you want to delete?')">
                                                        <i class="fa fa-trash" style="color:red"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Dark table end -->
                </div>
                <!-- row area end -->
            </div>
            <!-- Include your footer content here -->
        </div>
        </div>
      <!-- jquery latest version -->
 {% include 'admin/bottom.html' %}

</body>
</html>
