
{% block content %}
{% load static %}

<head>
  <title>Employee Profile</title>
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  </head>

  <div class="container">
    <div class="employee-profile">
      <div class="profile-image">
        {% if employee.images %}
          <img src="{{ employee.images.url }}" alt="Profile Picture">
        {% else %}
          <img src="{% static 'images/user.png' %}" alt="Default Profile Picture">
        {% endif %}
      </div>
    </div>
    </div>

{% endblock %}