{% extends 'admin/main.html' %}

{% block content %}

 <center><a href="{% url 'employee:add_employee' %}" class="btn btn-sm btn-info">Add New Employee</a></center>
 <button onclick="window.print()"><i class="fa fa-print"></i></button>
                        <div class="card-body">
                            <div class="data-tables datatable-dark">



<table class="table table-dark table-borderless mb-0">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">Joined On</th>
      <th scope="col">Leaves</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td scope="row">{{ employee.empcode }}</td>
      <td>{{ employee.firstName }} {{ employee.lastName }}</td>
      <td>{{ employee.department }}</td>
      <td>{{ employee.CreationDate }}</td>
      <td><a href="{% url 'employee:view_employee_leaves' employee.empcode   %}" class="btn btn-secondary btn-sm">view</a> </td>
      <td>{{ employee.status }}</td>
      <td>
          <a href="{% url 'employee:view_employee' employee.empcode   %}" class="btn btn-secondary btn-sm">view</a>
          <a href="{% url 'employee:update_employee' employee.empcode   %}" class="btn btn-secondary btn-sm">Edit</a>
          <a href="{% url 'employee:delete_employee' %}?del={{ employee.empcode }}" onclick="return confirm('Do you want to delete?')">
                                                        <i class="fa fa-trash" style="color:red"></i>
                                                    </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if msg %}
<div class="alert alert-success">
  <strong>Info:</strong> {{ msg }}
</div>
{% endif %}
{% endblock content %}
