
{% block content %}
{% load static %}

<head>
  <title>Employee Profile</title>
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  </head>

  <div class="container">
    <div class="employee-profile">
      <div class="profile-image">
        {% if employee.images %}
          <img src="{{ employee.images.url }}" alt="Profile Picture">
        {% else %}
          <img src="{% static 'images/user.png' %}" alt="Default Profile Picture">
        {% endif %}
      </div>

      <h1 class="employee-name">
        <a href="{% url 'employee:update_profile' user.employee.empcode %}" class="text-white">Edit</a> 
        <a href="{% url 'employee:employee_profile' user.employee.empcode %}" class="text-white">View</a>
      </h1>
    </div>
    </div>

{% endblock %}