<!-- leave_history.html -->
{% extends 'employee/main.html' %}
{% block content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<body>
    <div class="container">
       <center> <h1 class="mt-5">Leave History</h1></center>
        <table class="table table-striped table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Conditions</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Applied</th>
                    <th>Admin's Remark</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for leave in leave_history %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ leave.leavetype }}</td>
                    <td>{{ leave.description }}</td>
                    <td>{{ leave.fromdate }}</td>
                    <td>{{ leave.todate }}</td>
                    <td>{{ leave.posting_date }}</td>
                    <td>

                        {% if leave.admin_remark %}
                            {{ leave.admin_remark }}
                        {% else %}
                            Pending
                        {% endif %}
                    </td>
                    <td>
                        <!-- Add debugging statements -->

                                                    {% if leave.status == '1' %}
                                                        Approved <i class="fa fa-check-square-o"></i></span>
                                                    {% elif leave.status == '2' %}
                                                        <span style="color: red">Declined <i class="fa fa-times"></i></span>
                                                    {% else %}
                                                        <span style="color: blue">Pending <i class="fa fa-spinner"></i></span>
                                                    {% endif %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Include Bootstrap JS and jQuery at the end of the body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% include 'employee/footer.html' %}
{% endblock content %}
