{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      .nav_bar {
        text-align: end;
        padding-top: 2px;
      }
      
    </style>
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
        <div class="p-4">
          <ul class="list-unstyled components mb-5">
            <li class="{% if request.resolver_match.url_name == 'leave_balance' %}active{% endif %}">
              <a href="{% url 'leave:leave_balance' %}"><span class="fa fa-bars mr-3 text-white"></span> Balance</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'apply_leave' %}active{% endif %}">
              <a href="{% url 'leave:apply_leave' %}"><span class="fa fa-paper-plane mr-3 text-white"></span> Apply Leave</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'employee_leave_history' %}active{% endif %}">
              <a href="{% url 'leave:employee_leave_history' %}"><span class="fa fa-history mr-3 text-white"></span> Leave History</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'update_profile' %}active{% endif %}">
              <a href="{% url 'employee:update_profile' user.employee.empcode %}"><span class="fa fa-user mr-3 text-white"></span>Profile</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'change_password' %}active{% endif %}">
              <a href="{% url 'employee:change_password' %}"><span class="fa fa-asterisk  mr-3 text-white"></span>Change Password</a>
            </li>

            
          </ul>
          <div class="footer">
            <p>
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="nav_bar">
          <h5>Welcome {{ user.employee.firstName }} &emsp;
          <a href="{% url 'accounts:employee_login' %}"><i class="fa fa-power-off " aria-hidden="true"></i></a>
          </h5>
        </div>

        {% block content %}
        {% endblock %}
      </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
