{% extends 'employee/main.html' %}
{% block content %}
    <!-- Place your HTML content here, including the update profile form -->
    <form method="post" action="{% url 'employee:update_profile' user.employee.empcode %}">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_firstName">First Name:</label>
                        {{ form.firstName }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_lastName">Last Name:</label>
                        {{ form.lastName }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_mobileno">Mobile Number:</label>
                        {{ form.mobileno }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_country">Country:</label>
                        {{ form.country }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_address">Address:</label>
                        {{ form.address }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_city">City:</label>
                        {{ form.city }}
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_firstName">gender:</label>
                                {{ form.gender }}
                            </div>
                        </div>
                        </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
{% endblock %}