<!-- update_profile.html -->

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Employee Leave Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include your CSS and other HTML content here -->
</head>

<body>
    <!-- Place your HTML content here, including the update profile form -->
    <form method="post" action="{% url 'employee_panel:update_profile' user.employee.empcode %}">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_firstName">First Name:</label>
                        {{ form.firstName }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_lastName">Last Name:</label>
                        {{ form.lastName }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_mobileno">Mobile Number:</label>
                        {{ form.mobileno }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_country">Country:</label>
                        {{ form.country }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_address">Address:</label>
                        {{ form.address }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_city">City:</label>
                        {{ form.city }}
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_firstName">gender:</label>
                                {{ form.gender }}
                            </div>
                        </div>
                        </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>

    <!-- Include JavaScript and other scripts here -->
</body>

</html>
