{% extends "admin/main.html" %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
    <div class="container">
        <h1>Add Leave Type</h1>
        <form method="post" action="{% url 'leave:add_leave_type' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Add Leave Type</button>
        </form>
    </div>
{% endblock %}