
{% extends 'admin/main.html' %}

{% block content %}
<center><a href="{% url 'leave:employees_going_on_leave_per_department' %}" class="btn btn-primary">Employees Going on Leave</a></center>
<h2>Employees Currently on Leave </h2>

{% for department, employees in department_leave_data.items %}
    <h3 class="text-primary">{{ department.department_name }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for employee, leave in employees.items %}
            <tr>
                <td>{{ employee.empcode }}</td>
                <td>{{ employee.firstName }} {{ employee.lastName }}</td>
                <td>{{ leave.leaveType.leaveTypeName }}</td>
                <td>{{ leave.fromdate }}</td>
                <td>{{ leave.todate }}</td>
                <td><span style="color: green">Approved <i class="fa fa-check-square-o"></i></span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% empty %}
    <p>No employees currently on leave.</p>
{% endfor %}
{% endblock %}