{% extends 'employee/main.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<div class="container text-white ">
    {% for balance in leave_balances %}
    <div class="leave-card bg-dark">
        
        <div class="leave-type">{{ balance.leave_type.leavetype }}</div>
        <div class="icon">
            <!-- Add relevant icons here -->
            <!-- Example: -->
            <i class="fas fa-calendar text-white"></i>
        </div>
        <div class="days">Leave days:  {{ balance.leave_type.leave_days }}</div>
        <div class="available">Available: {{ balance.balance }}</div>
        <div class="taken">Taken: {{ balance.leave_type.leave_days|subtract:balance.balance }}</div>
        
    </div>
    {% endfor %}
</div>
{% endblock %}