{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
{% include 'admin/top.html' %}

    <!-- Add any additional styles or scripts you need here -->
</head>
<body>
{% include 'admin/sidebars.html' %}
    <!-- Include your common HTML elements here -->

    <div class="main-content-inner">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Pending Leaves</h4>
                        <div class="single-table">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-bordered progress-table text-center">


                                    <thead class="text-uppercase">
                                        <tr>
                                            <th>S.N</th>
                                            <th>Employee ID</th>
                                            <th>Full Name</th>

                                            <th>Leave Type</th>
                                            <th>Applied On</th>
                                            <th>Current Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for leave in leaves %}
                                        <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ leave.employee }}</td>
                                                <td>{{ leave.employee.first_name }} {{ leave.employee.last_name }}</td>

                                                <td>{{ leave.leavetype }}</td>
                                                <td>{{ leave.posting_date }}</td>
                                            <td>
                                                {% if leave.status == '1' %}
                                                <span style="color: #04fd04">Approved <i class="fa fa-check-square-o"></i></span>
                                                {% elif leave.Status == '2' %}
                                                <span style="color: red">Declined <i class="fa fa-cross"></i></span>
                                                {% else %}
                                                <span style="color: blue">Pending <i class="fa fa-spinner"></i></span>
                                                {% endif %}
                                               <td><a href="{% url 'myadmin:employee_leave_details' leave.id %}" class="btn btn-secondary btn-sm">View Details</a></td>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
    <!-- Include your footer and JavaScript scripts here -->
{% include 'admin/bottom.html' %}
</body>
</html>
