<div class="login-area login-s2">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="login-form-head">
                <h4>Recover/Change Your Password</h4>
                <p>Please provide your employee details for recovery and set a new password.</p>
            </div>
            <div class="login-form-body">
                {{ form.as_p }}
                <div class="submit-btn-area">
                    <button type="submit">CHANGE PASSWORD <i class="ti-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>